header {
    margin-top: auto;
    margin-left: 100px;
    margin-right: 100px;
}

form {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.card {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}